<div class="container">
  <form class="form">
    <div class="box">
      <span class="logo">Anime Project</span>
      <input
        #email="ngModel"
        name="email"
        [(ngModel)]="form.email"
        type="email"
        title="email"
        placeholder="Enter your e-mail address"
        class="input"
        (change)="validationEmail()"
        id="inputemail"
      />
      <div class="msgerr">{{ msgemail }}</div>
      <input
        [(ngModel)]="form.password"
        name="password"
        type="password"
        title="password"
        placeholder="Enter your password"
        class="input"
        (change)="validationPassword()"
        id="inputpassword"
      />
      <div class="msgerr">{{ msgpass }}</div>
      <div class="forgot">
        <span class="link">Forgot your password?</span>
      </div>
      <button type="submit" class="button" (click)="onSubmit()">Sign in</button>
      <button type="button" class="home" routerLink="/">Back to home</button>
    </div>
  </form>
</div>
