@use "@angular/material" as mat;

@import "@angular/material/theming";

@include mat.core();

$angular-primary: (
    100: #c5cae9,
    500: #61699a,
    700: #303f9f,
    contrast: (
        100: rgba(0, 0, 0, 0.87),
        500: #ffffff,
        700: #ffffff,
    ),
);
$angular-accent: (
    100: #ff80ab,
    500: #ff4081,
    700: #f50057,
    contrast: (
        100: rgba(0, 0, 0, 0.87),
        500: rgba(0, 0, 0, 0.87),
        700: #ffffff,
    ),
);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
    (
        color: (
            primary: $angular-primary,
            accent: $angular-accent,
            warn: $angular-warn,
        ),
    )
);

@include mat.all-component-themes($angular-default-theme);

.lightMode {
    @include angular-material-theme($angular-default-theme);
}

$angular-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $angular-primary,
            accent: $angular-accent,
            warn: $angular-warn,
        ),
    )
);

.darkMode {
    @include mat.all-component-colors($angular-dark-theme);
    background-color: #333;
    color: whitesmoke;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
